@model List<DoAnCoSo.Models.DonDatHang>
@{
    ViewData["Title"] = "OrderHistory";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}
<div class="container">
<h2>Lịch sử đặt hàng</h2>

@if (Model.Count == 0)
{
    <p>Không tìm thấy đơn hàng.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Mã đơn hàng</th>
                <th>Ngày đặt hàng</th>
                <th>Tổng tiền</th>
                <th>Trạng thái</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model)
            {
                <tr>
                    <td>@order.MaDdh</td>
                    <td>@order.NgayDat?.ToString("dd/MM/yyyy")</td>
                    <td>@string.Format("{0:#,##0} VNĐ", order.Tong)</td>


                    <td>@GetOrderStatus(order.TrangThai)</td>
                    <td><a asp-action="ChiTietDonHang" asp-route-id="@order.MaDdh">Xem chi tiết</a></td>
                </tr>
            }
        </tbody>
    </table>

}
</div>
@functions {
    public string GetOrderStatus(int? status)
    {
        switch (status)
        {
            case 1:
                return "Đang xử lý";
            case 2:
                return "Đã giao hàng";
            case 3:
                return "Đã nhận hàng";
            default:
                return "Không xác định";
        }
    }
}

