@model DoAnCoSo.Models.SanPham

@{
    ViewData["Title"] = "ChiTietSanPham";
    Layout = "~/Views/Shared/Main_Layout.cshtml";
}
<style>
    
    .zoom {
        transition: transform 0.5s ease; /
        cursor: zoom-in; 
    }      
        .zoom:hover {
            transform: scale(2.0); 
        }

</style>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
          
            <div class="mb-3">
                <img src="@Url.Content("~/images/hinhSP/" + Model.HinhSp)" alt="Product Image" class="zoom">
            </div>
           
        </div>
        <div class="col-md-6">
            <h1>@Model.TenSp</h1>
            <h2 class="text-danger">@(((double)Model.Gia).ToString("#,##0").Replace(',', '.'))<span class="icon">₫</span></h2>


            <p><strong>Mô tả:</strong> @Model.MoTa</p>
            <p><strong>Chi tiết:</strong> @Model.ChiTiet</p>


            <p><strong>Nhà sản xuất:</strong> @ViewBag.TenNsx</p>


            <form asp-action="AddToCart" asp-controller="Cart" asp-route-maSanPham="@Model.MaSanPham">
                <div class="product__details__cart__option">
                    <div class="quantity">
                        <div class="pro-qty">
                            <span class="fa fa-angle-up dec qtybtn"></span>
                            <input type="text" value="1" name="soLuong">
                            <span class="fa fa-angle-down inc qtybtn"></span>
                        </div>
                    </div>
                    <button class="primary-btn">add to cart</button>
                </div>
            </form>
            @* <a asp-action="Index" class="btn btn-secondary">Trở về danh sách</a> *@

        </div>
    </div>
</div>

