@model IEnumerable<DoAnCoSo.ViewModels.CartItem>
@{
    ViewData["Title"] = "Giỏ hàng";
}

<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="shopping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Sản phẩm</th>
                                <th>Số lượng</th>
                                <th>Tổng tiền</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="product__cart__item">
                                        <div class="product__cart__item__pic">
                                            <img src="~/images/hinhSP/@item.HinhSp" style="width: 80px; height: 80px;" alt="@item.TenSp">
                                        </div>
                                        <div class="product__cart__item__text">
                                            <h6>@item.TenSp</h6>
                                            <h5>@item.Gia</h5>
                                        </div>
                                    </td>
                                    <td class="quantity__item">
                                        <div class="quantity">
                                            <div class="pro-qty-2">
                                               
                                                <input type="text" value="@item.SoLuong" class="qty-input" data-id="@item.MaSanPham">
                                              
                                            </div>
                                        </div>
                                    </td>

                                    <td class="cart__price">@item.ThanhTien<span class="icon">₫</span></td>
                                    <td class="cart__close">
                                        <a asp-action="RemoveCart" asp-controller="Cart" asp-route-id="@item.MaSanPham">
                                            <i class="fa fa-close"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        

                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn">
                            <a asp-action="Index" asp-controller="Product">Tiếp tục mua hàng</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn update__btn">
                            <a href="javascript:void(0);" onclick="updateCart()"><i class="fa fa-spinner"></i>Cập nhật</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cart__total">
                    <h6>Tổng Giỏ Hàng</h6>
                    <ul>

                        <li>Thành Tiền <span>@Model.Sum(p => p.ThanhTien)<span class="icon">₫</span></span></li>
                    </ul>
                    <a asp-action="Checkout" asp-controller="Cart" class="primary-btn">Đặt Hàng</a>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script>
        function updateCart() {
            var items = [];
            $('.qty-input').each(function () {
                var id = $(this).data('id');
                var quantity = $(this).val();
                items.push({ maSanPham: id, soLuong: quantity });
            });

            $.ajax({
                url: '@Url.Action("UpdateCart", "Cart")',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(items),
                success: function (response) {
                    if (response.success) {
                        $('#total').text(response.total + '₫');
                        location.reload();
                    } else {
                        alert('Cập nhật giỏ hàng thất bại!');
                    }
                }
            });

        }
        $(document).on('change', '.qty-input', function () {
            var input = $(this);
            var quantity = parseInt(input.val());
            var id = input.data('id');
            if (!isNaN(quantity) && quantity >= 1) {
                // Nếu giá trị hợp lệ, cập nhật giỏ hàng
                updateCart();
            } else {
                // Nếu giá trị không hợp lệ, khôi phục giá trị về 1
                input.val(1);
            }
        });

    </script>
}